.profile
  .row
    .large-12.columns
      %div{style: 'padding: 16px 0px;'}
        = link_to "&larr; вернуться к списку категорий граждан".html_safe, profiles_path
      .large-12.columns
        %h1= @profile.title
        %ul.small-block-grid-3{style: 'list-style: none; margin: 0 0;'}
          - @profile.benefits.each do |benefit|
            %li
              = link_to benefit_path(benefit) do
                %div
                  %span= benefit.benefit_category.title
                %h4= benefit.title
                %h3 75%
                .button= 'Добавить ограничение'
      .large-5.columns
        %h3
